@import "tailwindcss";

@theme {
  --color-corporate-blue-light: #3b82f6;
  --color-corporate-blue: #0055ff;
  --color-corporate-blue-dark: #003399;
  --color-background-dark: #020617;
  --color-card-dark: #0f172a;
}

:root {
  --background: #020617;
  --foreground: #e2e8f0;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Inter', system-ui, sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #020617;
}
::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #334155;
}
